body {
	text-align: center;
	background-color:#FFFFFF;
	margin:0;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size:120px;
	line-height:.85em;
	font-weight:400;
	text-transform: none;
	color:#FFFFFF;
	margin:12px;
	padding:0;
	text-shadow: 0px 0px 12px #000000;
}

@media (max-width: 600px) {
	h1 {
	font-size:68px;
}
}

#header h3 {
	color:#FFFFFF;
	text-shadow: 0px 0px 12px #000000;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:1.2em;
	font-weight:200;
	text-transform: uppercase;
	letter-spacing:2px;
	margin:0;
	background-color:#20233e;
	color:#FFFFFF;
	padding:6px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:1.2em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing:2px;
	margin:0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:1.2em;
	margin:0;
}

.clear {
    clear:both;
}

#header {
	width:100%;
	margin:0 auto 0;
	padding:120px 0px 44px 0px;
	background-image:url("../images/header.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

#wrapper {
	width:100%;
	margin:0 auto 0;
	padding:0;
	background-color:#FFFFFF;
}

#reserve-left {
	float:left;
	width:50%;
}

#reserve-right {
	float:right;
	width:50%;
}

#make-reservation {
	margin:6px;
	padding:16px;
	border:1px solid #EEEEEE;
	background-color:#ebecf6;
}

#reserve {
	margin-top:12px;
}

#reserve button {
	margin-top:12px;
}

.error {
	color:red;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	line-height:1.2em;
	margin:0;
}

#existing-reservations {
	margin:6px;
	padding:16px;
	border:1px solid #EEEEEE;
}

#existing-reservations table {
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	line-height:1.2em;
	margin: 0 auto 0;
	width:90%;
}

.name {
	width:50%;
	text-align:right;
	padding-right:12px;
	font-weight: 400;
}

.day {
	width:50%;
	text-align:left;
	padding-left:12px;
	font-weight: 400;
}

.fa fa-trash delete {
	color:#CCCCCC;
}

th.name, th.day {
	text-decoration: underline;
	text-transform:none;
	font-style: italic;
}

@media (max-width: 600px) {
	#reserve-left {
		width:100%;
		float:none;
	}

	#reserve-right {
		width:100%;
		float:none;
	}
}

#map {
	width:100%;
	height:250px;
	margin: 0 auto 0;
}

.customer-photo {
	width:100%;
	height:300px;
	margin:0 auto 0;
	background-image:url("../images/jerry.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.customer-review {
	width:100%;
	margin:0 auto 0;
	padding:0 0 12px 0;
}

.customer-review p {
	font-size:18px;
	text-align: center;
	vertical-align: middle;
	text-transform: none;
	letter-spacing: 1px;
	margin:12px;
}

@media (max-width: 550px) {
	.customer-photo {
		height:200px;
	}
}

@media (min-width: 1000px) {
	.customer-photo {
		height:400px;
	}
}